/* Small device: up to 576 px */
@media screen and (max-width:576px) {
    .navbar,
    .btn-container {
        display: none !important;
    }
      .menubar {
        display: block;
    }
    header{
        padding: 16px 20px;
        height: 60px;
    }
   .circle-img{
    position: absolute;
    top: 5%;
    left:36%;
}
.circle-img img{
    width: 150px;
    height: 150px;
}
.micro-img{
    position: absolute;
    top: 9%;
    left:44%;
}
.micro-img img{
    width: 60px;
    height: 80px;
} 
.bg-img{
    height: 350px;
}
.banner-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28%;
    left:5%;
}

.banner-des > p{
    font-size: 12px;
}
/* about section  */




/* why choose us  */
.grid-container{
    background-color: #230E3D;
    max-width: 1200px;
    margin: 40px auto 10px auto;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(5,auto);
    gap: 24px;
    grid-template-areas:"box1"
                        "box2"
                        "box3"
                        "box4"
                        "box5";
}
.box{
    margin:0 20px;
}
#grid-title h1{
    font-size: 32px;
}

}
