/* Small device: up to 576 px */
@media screen and (max-width:576px) {
    .navbar,
    .btn-container {
        display: none !important;
    }
      .menubar {
        display: block;
    }
    header{
        padding: 16px 20px;
        height: 60px;
    }
   .circle-img{
    position: absolute;
    top: 8%;
    left:30%;
}
.circle-img img{
    width: 150px;
    height: 150px;
}
.micro-img{
    position: absolute;
    top: 16%;
    left:41%;
}
.micro-img img{
    width: 60px;
    height: 80px;
} 
.bg-img{
    height: 300px;
}
 .banner-container{
      min-height: 300px;
  }
.banner-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left:9%;
}

.banner-des > p{
    font-size: 10px;
}
/* about section  */
  .about-des{
      width: 100%;
      height: auto;         
      padding:50px 20px 20px 20px; 
  }
  .about-cards{
    width: 100%;
    padding: 20px 0;
}
.about-des h1{
    font-size: 30px;
}
.cards{
    width: 170px;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(2,fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "card1 card2"
                        "card3 card4";
}



/* why choose us  */
.grid-container{
    background-color: #230E3D;
    max-width: 1200px;
    margin: 40px auto 10px auto;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(5,auto);
    gap: 24px;
    grid-template-areas:"box1"
                        "box2"
                        "box3"
                        "box4"
                        "box5";
}
.box{
    margin:0 20px;
}
#grid-title h1{
    font-size: 32px;
}
.epi-host-container .card-container{
   flex-direction: column;
   margin:0 20px;
}
.epi-container h1{
    font-size: 32px;
}
.cards h3{
    font-size: 20px;
}
.cards p{
    font-size: 12px;
}
.host-details{
    flex-direction: column;
    text-align: center;
    margin:0 20px;
}
.host-container .description-host{
    padding: 10px 0;
}
.logo-container{
    padding: 0 30%;
}
/* footer  */
.footer{

}
}


