*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #1A0B2E;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 40px; 
    color:white;
}
/* header section  */
header{
     background-color: #412567;
     max-width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px 200px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
.btn{
    width: 150px;
    height: 40px;
    border-radius: 1000px;
    padding: 10px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
color: white;
}
.menubar{
    color: white;
    display: none;
}

/* banner section  */
.banner-container{
    max-width: 100%;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #1A0B2E;
    padding-bottom: 10px;
   
}
.bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.circle-img{ 
    position: absolute; 
    top: 15%; 
    left: 39%; }

.micro-img{
    position: absolute; 
    top: 25%; 
    left: 46%;
}

.circle-img img{
    width: 310px;
    height: 310px;
}
.micro-img img{
    width: 100px;
    height: 150px;
}
.new{
    position: absolute;
    top: 30%;
    left: 60%;
    width: 45px;
    height: 30px;
    border-radius: 45%;
    background-color: #00FF88;
    animation: pulse 1s infinite alternate;
}
.new p{
    color:rgb(7, 7, 7);
    text-align: center;
    position: absolute;
    top: 16%;
    left:15%;
}
.banner-des{
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 32%;
}
.banner-btn{
    display: flex;
    gap: 10px;
}
.banner-des #btn-2{
     width: 130px;
    height: 40px;
    border-radius: 10000px;
    color: #00FF88;
    background-color: transparent;
}
/* about section  */
#about-container{
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.about-des{
    width: 70%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 20px 0 20px;
}
.peragraph{
    color: rgb(209, 199, 199);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.peragraph #pera-1{
     line-height: 20px;
}
.about-cards{
    width: 70%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}
.cards > h1{
    color: #00FF88;
}
.cards > p{
    color: rgb(209, 199, 199);
    text-transform: capitalize;
}
/* why choose us  */
.choose-container{
    background-color: #230E3D;
    max-width: 100%;
    padding-bottom: 30px;
}
#grid-title{
    padding-top: 40px;
    text-align: center;
    margin-top: 40px;
}

.box1{ 
    grid-area: box1; 
}
.box2{ 
    grid-area: box2; 
}
.box3{ 
    grid-area: box3; 
}
.box4{ 
    grid-area: box4; 
}
.box5{ 
    grid-area: box5; 
}

.grid-container{
    background-color: #230E3D;
    max-width: 1200px;
    margin: 40px auto 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 220px);
    gap: 24px;
    grid-template-areas:"box1 box2 box2"
                        "box1 box3 box3"
                        "box4 box4 box5";
}
.grid-container > div{
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}
.box p{
    padding-top: 16px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(209, 199, 199);
}
.box h3{
    font-size: 24px;
    color: white;
    padding-top: 5px;
}
/* episodes and host  */
.epi-host-container .title{
    text-align: center;
     margin-bottom: 40px;
     padding-top: 40px;
}
.epi-host-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.epi-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.epi-host-container .card-container{
    max-width: 1200px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}
.card-container .cards{
    flex: 1;
    border-radius: 20px;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #250D44;
}
.video-box{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.cards video{
    max-width: 100%;
    height: auto;
}
.cards p{
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(209, 199, 199);
}
.cards h3{
    font-size: 24px;
    color: white;
    padding: 10px;
}
.cards .time{
    margin-top: auto;
    color: #00FF88;
}
/* host  */
.host-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.host-details{
   display: flex;
   color: white;
   border-radius: 20px;
   align-items: center;
   background-color: #250D44;
   margin: 0 130px 120px 130px;
   
}
.host-details p{
    font-size: 16px;
    line-height: 24px;
    color: rgb(209, 199, 199);
    padding: 10px 0;
}
.host-container .logo{
    padding: 20px;
}
.host-container .description-host{
    padding: 48px 0;
}
.description-host .fa-brands{
    font-size: 20px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description-host .logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}


/* footer  */
.footer{
    position: relative;
    max-width: 100%;
    height: 200px;
    margin-top: 15px;
}
.footer #bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer #f-heading{
    position: absolute;
    top: 70%;
    left: 42%;
}
#f-heading img{
    width: 400px;  
    height: auto;   
}
#f-links{
    display: flex;
    gap: 30px;
    position: absolute;
    top:120% ;
    left:39.5% ;
    
}
#f-links p,#f-copy p{
    color: rgb(209, 199, 199);
    
}
#f-copy{
    position: absolute;
    top: 140%;
     left:44%;
}
@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.2);
    }
}

