*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #1A0B2E;
}
a{
    text-decoration: none;
    color: white;
}
/* header section  */
header{
     background-color: #412567;
     max-width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 16px 200px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
.btn{
    width: 150px;
    height: 40px;
    border-radius: 1000px;
    padding: 10px;
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
color: white;
}
.menubar{
    color: white;
    display: none;
}

/* banner section  */
.banner-container{
    max-width: 100%;
    min-height: 700px;
    position: relative;
    overflow: hidden;
}
.bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circle-img{
    position: absolute;
    top: 15%;
    left: 39%;
}
.circle-img img{
    width: 310px;
    height: 310px;
}
.micro-img{
    position: absolute;
    top: 25%;
    left: 46.5%;
}
.micro-img img{
    width: 100px;
    height: 150px;
}
.banner-des{
    color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 32%;
}
.banner-btn{
    display: flex;
    gap: 10px;
}
.banner-des #btn-2{
     width: 130px;
    height: 40px;
    border-radius: 10000px;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
}
/* about section  */
#about-container{
    max-width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.about-des{
    width: 70%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 50px 20px 0 20px;
}


.about-des > h1{
    font-size: 40px;
  
    color:white;
}
.peragraph{
    color: rgb(209, 199, 199);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.peragraph #pera-1{
     line-height: 20px;
}
.about-cards{
    width: 70%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 200px;
}
.cards > h1{
    color: #00FF88;
}
.cards > p{
    color: rgb(209, 199, 199);
    text-transform: capitalize;
}